<label>Titlu: </label><input type="text" [(ngModel)]="titlu" id="titlu"><br>
<label>Autori: </label><input type="text" [(ngModel)]="autori" id="autori"><br>
<label>An aparitie: </label><input type="text" [(ngModel)]="an" id="an"><br>
<label>Editura: </label><input type="text" [(ngModel)]="editura" id="editura"><br>
<label>Cuvinte cheie: </label><input type="text" [(ngModel)]="cuvinte_cheie" id="cuvinte_cheie"><br>
<button id="button" (click)="add()">Adauga</button><br>
<div id="result">{{result}}</div>
